.toplevel_page_netmow-backup .wp-menu-image img {
	width: 18px;
	opacity: 1 !important;
}
.nb-page-wrapper {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.nb-header {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px;
}
.nb-header-left {
	display: flex;
	align-items: center;
	column-gap: 12px;
}
.nb-header-left img {
	width: 45px;
}
.nb-header-left-text {
	font-size: 23px;
	color: #1ba94b;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: .035em;
}
.nb-btn {
	background-color: #fff;
	display: flex;
	align-items: center;
	column-gap: 8px;
	font-size: 17px;
	line-height: 1;
	text-decoration: none;
	padding: 5px 28px;
	color: #1ba94b;
	font-weight: 500;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nb-btn .icon {
	display: flex;
	width: 16px;
}
.nb-page-content {
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
}
.nb-body-wrap {
	width: calc(100% - 400px);
	padding-right: 20px;
}
.nb-sidebar {
	width: 400px;
	flex-shrink: 0;
}
.nb-sidebar-widget {
	background-color: #fff;
	padding: 22px 25px 29px 25px;
}
.nb-widget-title {
	margin-top: 0;
	font-size: 17px;
	line-height: 1.2;
	margin-bottom: 15px;
}
.nb-widget {
	padding: 25px;
	background-color: #fff;
}
.nb-widget:not(:last-child) {
	margin-bottom: 20px;
}
.nb-widget-inputs form {
	display: flex;
	flex-direction: column;
}
.nb-widget-inputs form label {
	display: flex;
	align-items: center;
}
.nb-widget-inputs form label span {
	width: 200px;
}
.nb-widget-inputs form label:not(:last-child) {
	margin-bottom: 15px;
}
.nb-widget-inputs form label input {
	width: 605px;
	max-width: 100%;
}
.nb-widget-inputs form input[type="submit"] {
	height: 35px;
	border-radius: 0;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #1ba94b;
	color: #fff;
	font-size: 17px;
	margin-top: 10px;
	width: max-content;
	padding: 0 34px;
}
.nb-profile-info {
	display: flex;
	align-items: center;
	column-gap: 15px;
}
.nb-avatar {
	width: 108px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}
.nb-avatar {
	width: 115px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	background-color: #efefef;
}
.nb-avatar img {
	width: 100%;
}
.nb-info-items {
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	line-height: 1.2;
}
.nb-info-s {
	width: 55px;
	flex-shrink: 0;
	font-weight: 500;
	color: #000;
}
.nb-info-items:not(:last-child) {
	margin-bottom: 8px;
}
.nb-revoke-button {
	margin-top: 14px;
}
.nb-revoke-button input[type="submit"] {
	width: 100px;
	height: 35px;
	padding: 0;
	border: none;
	outline: none;
	font-weight: 500;
	background-color: #eaeaea;
	font-size: 14px;
	line-height: 1;
	cursor: pointer;
}
.nb-data-wrap {
	display: flex;
}
.nb-data-left {
	width: 50%;
}
.nb-data-right {
	width: 50%;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px dashed #b7b7b7;
}
.nb-data-line {
	display: flex;
	align-items: flex-start;
}
.nbdl-t1 {
	width: calc(100% - 100px);
}
.nbdl-t2 {
	width: 100px;
	flex-shrink: 0;
	color: #1ba94b;
}
.nb-data-line:not(:last-child) {
	margin-bottom: 10px;
}
.nb-data-line.nb-data-line-b {
	font-weight: 600;
	color: #000;
}
.nb-data-right input[type="submit"] {
	background-color: #1ba94b;
	border: none;
	outline: none;
	color: #fff;
	width: 200px;
	height: 50px;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}
.nb-data-line.nb-data-line-b .nbdl-t2 {
	color: #000;
}